<h1>Turnos del mes</h1>

<div>
  <%= link_to "Previous Month", shifts_path(date: @selected_date.prev_month), class: "btn btn-primary" %>
  <%= link_to "Next Month", shifts_path(date: @selected_date.next_month), class: "btn btn-primary" %>
</div>

<% (1..Date.today.end_of_month.day).each do |day| %>
  <%= render 'shifts/day', shifts: @shifts, day: @selected_date.beginning_of_month.advance(days: day - 1) %>
<% end %>
